<!DOCTYPE html>
<html>
<head>
    <title>ElasticUI Demo</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="//rawgit.com/yesmeck/jquery-jsonview/master/dist/jquery.jsonview.css" />-->
    <script src="//code.angularjs.org/1.2.16/angular.js"></script>
    <script src="//rawgit.com/YousefED/ElasticUI/master/examples/demo/lib/elasticsearch.angular.js"></script>
    <!--<script src="//rawgit.com/YousefED/ElasticUI/master/examples/demo/lib/elastic.js"></script>-->
    <script src="//rawgit.com/fullscale/elastic.js/master/dist/elastic.js"></script>
    <script src="//rawgit.com/YousefED/ElasticUI/master/dist/elasticui.js"></script>
    <!--<script src="//rawgit.com/yesmeck/jquery-jsonview/master/dist/jquery.jsonview.js"></script>-->
    <style>
        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            z-index: 1000;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: #f5f5f5;
            border-right: 1px solid #eee;
        }

        .instructions {
            display: block;
            margin: 0 auto;
            width: 450px;
        }
    </style>
    <script>
        angular
            .module('tutorial', ['elasticui'])
            .constant('euiHost', window.location.protocol + '//'
                               + window.location.host + '/elasticsearch'); // ACTION: change to cluster address
    </script>
</head>
<body ng-app="tutorial" eui-index="'bigmetadata'"><!-- ACTION: change to index name -->

<!--<div class="container-fluid" eui-aggregation="ejs.TermsAggregation('dedup').order('minError', 'asc').field('name.raw').agg(ejs.TopHitsAggregation('dedup_docs').sort(ejs.Sort().field('_id').order('asc').mode('min')).size(1)).agg(ejs.MinAggregation('minError').field('tables.resolutions.error'))" eui-sort="ejs.Sort('name').asc()"  eui-enabled="false">-->
    <div class="container-fluid" eui-sort="ejs.Sort('name').asc()">

      <!--<div class="row" eui-sort="ejs.Sort('id.raw').asc()" eui-enabled="true">-->
      <div class="row" eui-sort="ejs.Sort('tables.resolutions.error').mode('min')" eui-enabled="true">
        <!--<div class="col-xs-3 sidebar" eui-filter="ejs.BoolFilter().must(ejs.RangeFilter('tables.resolutions.error').from(0).to(0.1)).must(ejs.MissingFilter('extra.margin_of_error')).must(ejs.TypeFilter('column'))" eui-enabled="true">-->
          <div class="col-xs-3 sidebar" eui-filter="ejs.BoolFilter().must(ejs.RangeFilter('weight').from(2).to(10)).must(ejs.MissingFilter('extra.margin_of_error')).must(ejs.TypeFilter('column'))" eui-enabled="true">
                <h3>Search by Name</h3>
                <!--<eui-searchbox field="'name'"></eui-searchbox> <br />-->
                <!--<input type="text" eui-query="ejs.MatchQuery(field, querystring)" field="'name'" ng-model="querystring" eui-enabled="querystring.length" /><br />-->
                <input type="text" eui-query="ejs.BoolQuery().must(ejs.MatchQuery('name', querystring))" ng-model="querystring" eui-enabled="querystring.length" />

                <h3>Search by ID</h3>
                <eui-searchbox field="'id'"></eui-searchbox> <br />
                <!--<eui-searchbox placeholder="id" field="'columns'"></eui-searchbox> -->
                <!--
                <h3>Column/Table</h3>
                <eui-singleselect field="'_type'" size="5"></eui-singleselect>
                -->

                <h3>Weight</h3>
                <eui-singleselect field="'weight'" size="10"></eui-singleselect>

                <h3>Tags</h3>
                <eui-singleselect field="'tags'" size="40"></eui-singleselect>

                <h3>Years</h3>
                <eui-singleselect field="'tables.dct_temporal_sm'" size="40"></eui-singleselect>

                <h3>Resolutions</h3>
                <eui-singleselect field="'tables.resolutions.id'" size="40"></eui-singleselect>

                <!--<h3>Sample Size</h3>
                <div  class="form-group wrapper-sm" eui-aggregation="ejs.NestedAggregation('samplesize-nested').path('resolutions').aggregation(ejs.HistogramAggregation('samplesize').field('resolutions.sample').interval('100').minDocCount(1))" eui-filter-self="false" eui-or-filter >
                  <div ng-repeat="bucket in aggResult.samplesize.buckets   ">
                       <div class="checkbox" eui-filter="ejs.RangeFilter('resolutions.sample').from(bucket.key).to(aggResult.samplesize.buckets[$index + 1].key)">
                                        <label class="i-checks">
                                        <input type="checkbox" ng-model="filter.enabled"  >
                                        <i></i>
                                        </label>
                       <span class="m-r-n-sm">
                        <small><span ng-bind="bucket.key | number">%</span>&nbsp;to&nbsp;<span ng-bind="aggResult.samplesize.buckets[$index + 1].key | number">%</span></small>
                        <span class="badge bg-success"><span ng-bind="bucket.doc_count | number"></span></span>                        </span>
                      </div>
                  </div>
                </div>

                <h3>Margins of Error</h3>
                <div  class="form-group wrapper-sm" eui-aggregation="ejs.NestedAggregation('error-nested').path('resolutions').aggregation(ejs.HistogramAggregation().field('resolutions.error').interval('10').minDocCount(100))" eui-filter-self="false" eui-or-filter >
                  <div ng-repeat="bucket in aggResult.error.buckets   ">
                       <div class="checkbox" eui-filter="ejs.RangeFilter('resolutions.error').from(bucket.key).to(aggResult.error.buckets[$index + 1].key)">
                                        <label class="i-checks">
                                        <input type="checkbox" ng-model="filter.enabled"  >
                                        <i></i>
                                        </label>
                       <span class="m-r-n-sm">
                        <small><span ng-bind="bucket.key | number"></span>%&nbsp;to&nbsp;<span ng-bind="aggResult.error.buckets[$index + 1].key | number"></span>%</small>
                        <span class="badge bg-success"><span ng-bind="bucket.doc_count | number"></span></span>                        </span>
                      </div>
                  </div>
                </div>
                -->


                <h3>Results Per Page</h3>
                <select ng-model="indexVM.pageSize">
                    <option ng-repeat="item in [10, 20, 50, 100, 250, 500, 1000]">{{item}}</option>
                </select>
            </div>
            <div class="col-xs-9 col-xs-offset-3 main">
                <!--
                <div class="instructions panel panel-primary">
                    <div class="panel-heading">Getting started with the Demo</div>
                    <div class="panel-body">
                        Instructions, modify this file according to the following:
                        <ol>
                            <li>Set the constant euiHost in &lt;head&gt; to point to your cluster</li>
                            <li>Change eui-index on &lt;body&gt; tag to the name of your index</li>
                            <li>Set the field attributes on the facets in the sidebar to meaningful fields of your data</li>
                        </ol>
                    </div>
                </div>
                -->

                <h1>Results</h1>
                <table >
                    <tr ng-repeat="doc in indexVM.results.hits.hits">
                    <!--<tr ng-repeat="doc in indexVM.results.aggregations.filtered_dedup.dedup.buckets">-->

                      <!--<th><b>{{doc.dedup_docs.hits.hits[0]._source.name}}</b></th>
                      <td>(margin {{doc.dedup_docs.hits.hits[0]._source.tables[0].resolutions[0].error | number}}%)</td>
                      <td>{{doc.dedup_docs.hits.hits[0]._id}}</td>-->

                      <th><b>{{doc._source.name}}</b></th>
                      <td>{{doc.extra}}</td>
                      <td>(margin {{doc._source.tables[0].resolutions[0].error | number}}%)</td>
                      <td>{{doc._id}}</td>

                      <!--<td>{{doc._source.table.title}}.{{doc._source.column.id}}</td>-->
                      <!--{{doc._source.name}}-->
                      <!--<h5>{{doc._id}}</h5>-->
                      <!--{{doc._source.column.name}} ({{doc._source.column.id}}) in {{doc._source.table.id}}-->
                      <!--{{doc._source}}-->
                      <!--<button ng-click='javascript:$("#json-preview").JSONView(JSON.parse({{doc._source}}), collapsed=true)'>Preview</button>-->
                    </tr>
                </table>
                <!--<eui-simple-paging></eui-simple-paging>-->
                <ul class="pager">
                  <li ng-class="{disabled:indexVM.page <= 1}"><a href="" ng-click="indexVM.page=indexVM.page - 1">Previous</a></li>
                  <li ng-class="{disabled:indexVM.pageCount <= indexVM.page}"><a href="" ng-click="indexVM.page=indexVM.page + 1">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
