*.pyc
*.key
*.pdf
*.swp
.DS_Store
.buildinfo
.vscode
.env
luigi.cfg
_build
node_modules
bower_components
observatory-extension
tmp
dist
data-services
dataservices-api
carto_conf
obs-consumer
cartodb-postgresql
Windshaft-cartodb
logs/*
catalog/source/*
catalog/build/*
catalog/img
catalog/img_thumb
carto/
postgres10/data
docs/build
perftest/*.json
/repository
/venv
