tmp
env
*.pyc
.DS_Store
.env
logs/*
.DS_Store
dist
node_modules
bower_components
*.swp
npm-debug.log
catalog/source/*
catalog/build/doctrees
catalog/build/latex
catalog/build/html
catalog/build/pdf
catalog/build/markdown
catalog/build/text
_build
catalog/img
catalog/img_thumb
catalog/build/*.pdf
.buildinfo
carto/
docs/build
luigi.cfg
observatory-extension
*.key
*.pdf
perftest/*.json
data-services
dataservices-api
cartodb-postgresql
Windshaft-cartodb
carto_conf
postgres/data
