
SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
PYTHONPATH=/bigmetadata

# This updates our crontab every minute automatically
#* * * * * crontab /bigmetadata/crontab

* * * * * cd /bigmetadata && luigi --scheduler-host localhost --module tasks.sched TestTask --time "$(date +\%s)" >>/var/log/cron.log 2>>/var/log/cron.err

0 0 * * * luigi --scheduler-host localhost --module tasks.us.zillow AllZillow --parallel-scheduling --workers=3

