# Thanks to
# https://github.com/deviantony/docker-elk/blob/master/docker-compose.yml
{
  "postgres": {
    "image": "kartoza/postgis:latest", # No explicit tag for 9.5-2.2 yet, but
                                       # that's what we use
    "volumes": [
      "./postgres/postgresql.conf:/etc/postgresql/9.4/main/postgresql.conf",
      "./postgres/data:/var/lib/postgresql",  # commented to work on mac --
                                              # will cause persistence issues!!
      "../observatory-extension:/observatory-extension"
    ],
    "ports": [
      "5432:5432"
    ],
    "privileged": true
  },
  "browser": {
    "image": "nginx:latest",
    "volumes": [
      "./conf/nginx.conf:/etc/nginx/conf.d/default.conf:ro",
      "./catalog/build/html:/usr/share/nginx/html/catalog/:ro",
      "./docs/build/html:/usr/share/nginx/html/docs/:ro",
    ],
    "ports": [
       "80:80"
    ],
  },
  "bigmetadata_daemon": {
    "build": ".",
    #"image": "bigmetadata_bigmetadata_daemon",
    "links": [
      "postgres"
    ],
    "volumes": [
      ".:/bigmetadata",
      "./crontab:/etc/cron.d/cron",
    ],
    "ports": [
      "8082:8082"
    ],
    "environment": {
      "PYTHONPATH": "/bigmetadata",
      "PGHOST": "postgres",
      "PGUSER": "docker",
      "PGPASSWORD": "docker",
      "PGDATABASE": "gis",
      "LC_ALL": "C.UTF-8",
      "LANG": "C.UTF-8",
      "LUIGI_CONFIG_PATH": "/bigmetadata/conf/luigi_daemon.cfg",
    },
    "env_file": ".env",
    "command": "/bin/bash -c 'cron && crontab ./crontab && luigid'"
  },
  "bigmetadata": {
    "image": "bigmetadata_bigmetadata_daemon",
    "links": [
      "bigmetadata_daemon",
      "postgres"
    ],
    "volumes": [
      ".:/bigmetadata"
    ],
    "environment": {
      "PYTHONPATH": "/bigmetadata",
      "PGHOST": "postgres",
      "PGUSER": "docker",
      "PGPASSWORD": "docker",
      "PGDATABASE": "gis",
      "LC_ALL": "C.UTF-8",
      "LANG": "C.UTF-8",
      "LUIGI_CONFIG_PATH": "/bigmetadata/conf/luigi_client.cfg",
    },
    "env_file": ".env"
  },
  "ipython": {
    "build": "ipython",
    "ports": [
      "8888:8888"
    ],
    "links": [
      "bigmetadata_daemon",
      "postgres"
    ],
    "volumes": [
      ".:/bigmetadata"
    ],
    "environment": {
      "PYTHONPATH": "/bigmetadata",
      "PGHOST": "postgres",
      "PGUSER": "docker",
      "PGPASSWORD": "docker",
      "PGDATABASE": "test",
      "LC_ALL": "C.UTF-8",
      "LANG": "C.UTF-8"
    },
    "env_file": ".env",
    "working_dir": "/tmp/ipython",
    "command": "sh -c /bigmetadata/ipython/start.sh"
  },
}
