version: '3.1'
services:
  postgres10:
    image: carto/bigmetadata_postgres_10
    volumes:
      - ${DO_LOCAL_POSTGRESQL_10_LIB_DIR:-./postgres_10/data}:/var/lib/postgresql
      - ./observatory-extension:/observatory-extension
      - ./dataservices-api:/dataservices-api
      - ./data-services:/data-services
      - ./cartodb-postgresql:/cartodb-postgresql
      - ${DO_LOCAL_TMP_DIR:-./tmp}:/bigmetadata/tmp
      - ${DO_REPOSITORY_DIR:-./repository}:/bigmetadata/repository
    environment:
      PGDATA: /var/lib/postgresql/pg_data
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: gis
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
    privileged: true
    ports:
      - 5555:5432
    env_file: .env

  nginx:
    image: nginx:latest
    volumes:
      - ./conf/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./catalog/build/html:/usr/share/nginx/html/catalog/:ro
      - ./docs/build/html:/usr/share/nginx/html/docs/:ro
      - ./perftest:/usr/share/nginx/html/perftest/:ro
      - ${DO_LOCAL_TMP_DIR:-./tmp}:/bigmetadata/tmp
      - ${DO_REPOSITORY_DIR:-./repository}:/bigmetadata/repository
    ports:
      - 80

  bigmetadata_daemon:
    image: carto/bigmetadata
    volumes:
      - .:/bigmetadata
      - ${DO_LOCAL_TMP_DIR:-./tmp}:/bigmetadata/tmp
      - ${DO_REPOSITORY_DIR:-./repository}:/bigmetadata/repository
    ports:
      - 8082
    depends_on:
      - postgres10
    environment:
      PGHOST: postgres10
      PGPORT: ${PGPORT:-5432}
      PYTHONPATH: /bigmetadata
      PGUSER: docker
      PGPASSWORD: docker
      PGDATABASE: gis
      LC_ALL: C.UTF-8
      LANG: C.UTF-8
      LOGGING_FILE: ${LOGGING_FILE:-etl_daemon.log}
      LUIGI_CONFIG_PATH: /opt/bigmetadata/etc/luigi_daemon.cfg
      LOGGING_CONFIG_PATH: /opt/bigmetadata/etc/logging_daemon.cfg
    env_file: .env
    entrypoint: /bigmetadata/conf/daemon_entrypoint.sh
    command: "luigid"

  bigmetadata:
    image: carto/bigmetadata
    volumes:
      - .:/bigmetadata
      - ${DO_LOCAL_TMP_DIR:-./tmp}:/bigmetadata/tmp
      - ${DO_REPOSITORY_DIR:-./repository}:/bigmetadata/repository
    depends_on:
      - postgres10
      - bigmetadata_daemon
    entrypoint: /bigmetadata/conf/client_entrypoint.sh
    environment:
      PYTHONPATH: '/bigmetadata'
      PGHOST: postgres10
      PGPORT: ${PGPORT:-5432}
      PGUSER: docker
      PGPASSWORD: docker
      PGDATABASE: gis
      LC_ALL: C.UTF-8
      LANG: C.UTF-8
      LOGGING_FILE: ${LOGGING_FILE:-etl_client.log}
      LUIGI_CONFIG_PATH: /opt/bigmetadata/etc/luigi_client.cfg
      LOGGING_CONFIG_PATH: /opt/bigmetadata/etc/logging_client.cfg
    env_file: .env
    stdin_open: true
    tty: true
