requests==2.8.1
luigi==2.2.0
pylint
psycopg2
ujson
nose
nose-parameterized
nose-timer
mock
python-daemon
python-slugify
git+https://github.com/zzzeek/sqlalchemy.git@rel_1_1#egg=Package
sphinx
rst2pdf
xlrd
awscli
boto
