{%- macro build_column(col, subsection, depth=0) %}

.. _{{ col.id }}:

{{ col.name }}
{%
  if depth == 0
%}---------------------------------------------------------------------------{%
  elif depth == 1
%}^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^{%
  elif depth == 2
%}"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""{%
  endif
%}

{% if col.has_catalog_image() %}
.. figure:: ../img/{{ col.id }}.png
  :width: 100 %
  :align: center
{% endif %}

{{ col.description }}

{% if col.extra.categories %}
  {% for catname, category in col.extra.categories.items() %}
  * **{{ catname }}**: {{ category.description }}
  {% endfor %}
{% endif %}
{#
Code example
#}

{% if col.type|lower == 'text' %}
Obtain category of "{{ col.name }}" at one point:
{% elif col.type|lower == 'numeric' %}
Measure "{{ col.name }}" {% if col.summable() %} density per sq. kilometer {% endif %} for one point:
{% elif col.type|lower == 'geometry' %}
Obtain "{{ col.name }}" geometry at one point:
{% endif %}

.. code-block:: postgresql

{% if 'whosonfirst.wof_disputed_geom' == col.id %}
  {% set point = 'CDB_LatLng(33.78, 76.57)' %}
{% elif 'whosonfirst.wof_marinearea_geom' == col.id %}
  {% set point = 'CDB_LatLng(43.33, -68.47)' %}
{% elif col.id in ('us.census.tiger.school_district_elementary',
                   'us.census.tiger.school_district_secondary') %}
  {% set point = 'CDB_LatLng(40.7025, -73.7067)' %}
{% elif 'es.ine' in col.id %}
  {% set point = 'CDB_LatLng(40.39, -3.7)' %}
{% elif 'us.zillow' in col.id %}
  {% set point = 'CDB_LatLng(28.3305906291771, -81.3544048197256)' %}
{% else %}
  {% set point = 'CDB_LatLng(40.7, -73.9)' %}
{% endif %}

{% if col.type|lower == 'text' %}

  UPDATE {table_name}
    SET {new_text_column} =
      OBS_GetCategory(
        {{ point }},
        '{{ col.id }}'
      );

{% elif col.type|lower == 'numeric' %}

  UPDATE {table_name}
    SET {new_numeric_column} =
      OBS_GetMeasure(
        {{ point }},
        '{{ col.id }}'
      );

{% elif col.type|lower == 'geometry' %}

  INSERT INTO {tablename}(the_geom)
    SELECT OBS_GetBoundary(
      {{ point }},
      '{{ col.id }}'
    )

{% endif %}

{% if col.type|lower == 'text' %}
{% elif col.type|lower == 'numeric' %}
{% if col.summable() %}
Measure "{{ col.name }}" within an area:

.. code-block:: postgresql

    UPDATE {table_name}
      SET {new_numeric_column} =
        OBS_GetMeasure(
          ST_Buffer({{ point }}, 0.01),
          '{{ col.id }}'
        );

{% else %}

{{ col.name }} is only available for point lookups.
{% endif %}
{% elif col.type|lower == 'geometry' %}

Obtain all "{{ col.name }}" geometries within an area:

.. code-block:: postgresql

  INSERT INTO {new_table_name} (the_geom, {geo_id_column})
    SELECT *
    FROM OBS_GetBoundariesByGeometry(
      ST_Buffer({{ point }}, 0.01),
      '{{ col.id }}'
    )

{% endif %}

{% if col.has_denominators() %}
{% set denominator = col.denominators()[0] %}
Measure "{{ col.name }}" percent of "{{ denominator.name }}" at one point:

.. code-block:: postgresql

  UPDATE {table_name}
    SET {new_numeric_column} =
      OBS_GetMeasure(
        {{ point }},
        '{{ col.id }}',
        'denominator'
      );

{% if col.summable() %}
Measure "{{ col.name }}" percent of "{{ denominator.name }}" within an area:

.. code-block:: postgresql

  UPDATE {table_name}
    SET {new_numeric_column} =
      OBS_GetMeasure(
        ST_Buffer({{ point }}, 0.01),
        '{{ col.id }}',
        'denominator'
      );

{% endif %}
{% endif %}
{# preview map #}
{#
.. rst-class:: cartodb-static-map
   {{ table.tablename }}.{{ coltable.colname }}
   #}

{% if format == 'html' %}
{% for coltable in col.tables %}
    {% set table = coltable.table %}
    {#:{{ table.timespan }}:#}

    `On Carto <http://observatory.cartodb.com/tables/{{ table.tablename }}>`_
{% endfor %}
{% endif %}

{% for target, reltype in col.targets.iteritems() %}
:{{ reltype }}:

    :ref:`{{ target.id }}`
{% endfor %}

{% if col.has_children() %}
.. contents:: Subcolumns of {{ col.name }}
   :local:
   :depth: 1

  {% for child in col.children() %}
  {% if child.weight > 0 and subsection in child.tags %}
  {{ build_column(child, subsection, depth + 1) }}
  {% endif %}
  {% endfor %}
{% endif %}
{%- endmacro %}
