{%- macro build_column(col, depth=0) %}

.. _{{ col.id }}:

{{ col.name }}
{%
  if depth == 0
%}---------------------------------------------------------------------------{%
  elif depth == 1
%}^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^{%
  elif depth == 2
%}"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""{%
  endif
%}

{{ col.description }}
{#
Code example
#}

Measure "{{ col.name }}" {% if col.summable() %}density per sq. kilometer
{% endif %}for one point:

.. code:: postgresql

  SELECT cdb_observatory.OBS_GetMeasure(
    CDB_LatLng(40.7, -73.9),
    '{{ col.id }}'
  );

{% if col.summable() %}
Measure "{{ col.name }}" within an area:

.. code:: postgresql

  SELECT cdb_observatory.OBS_GetMeasure(
    ST_Buffer(CDB_LatLng(40.7, -73.9), 0.01),
    '{{ col.id }}'
  );

{% else %}

{{ col.name }} is only available for point lookups.
{% endif %}

{% if col.has_denominator() %}
Measure "{{ col.name }}" percent of "{{ col.denominator().name }}" at one point:

.. code:: postgresql

  SELECT cdb_observatory.OBS_GetMeasure(
    CDB_LatLng(40.7, -73.9),
    '{{ col.id }}', 'denominator'
  );

{% if col.summable() %}
Measure "{{ col.name }}" percent of "{{ col.denominator().name }}" within an area:

.. code:: postgresql

  SELECT cdb_observatory.OBS_GetMeasure(
    ST_Buffer(CDB_LatLng(40.7, -73.9), 0.01),
    '{{ col.id }}', 'denominator'
  );
{% endif %}

{% endif %}
{# preview map #}
{#
.. rst-class:: cartodb-static-map
   {{ table.tablename }}.{{ coltable.colname }}
   #}

{% if format == 'html' %}
{% for coltable in col.tables %}
    {% set table = coltable.table %}
    {#:{{ table.timespan }}:#}

    `On Carto <http://observatory.cartodb.com/tables/{{ table.tablename }}>`_
{% endfor %}
{% endif %}

{% for target, reltype in col.targets.iteritems() %}
:{{ reltype }}:

    :ref:`{{ target.id }}`
{% endfor %}

{% if col.has_children() %}
.. contents:: Subcolumns of {{ col.name }}
   :local:
   :depth: 1

  {% for denom in col.children() %}
  {{ build_column(denom, depth + 1) }}
  {% endfor %}
{% endif %}
{%- endmacro %}
