.. {{ subsection.name }}:

{{ subsection.name }}
====================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================

{{ subsection.description }}

.. toctree::
   :caption: Columns
   :maxdepth: 2
   :titlesonly:
   :glob:

   {{ subsection.id|strip_tag_id }}/*
