{% import 'macros.html' as macros %}

.. {{ subsection.name }}:

{{ subsection.name }}
====================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================

{{ subsection.description }}

.. contents::
   :local:
   :depth: 10

{% for parent_id, children_ids in column_children_ids %}

{{ macros.build_column(parent_id, children_ids, all_columns, subsection, IMAGE_PATH, format) }}

{% endfor %}
